h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-family: $title-font-family;
}

ul {
  padding: 0em;
  margin: 0em 0em 1em 0em;
  list-style-type: none;
}

p {
  margin: 0em;
  padding-bottom: 1em;
  font-family: $base-font-family;
}

hr {
  margin: 0em;
}
